@font-face {
  font-family: "Gotham Pro";
  src: url(../assets/GothamPro/gothampro_bold.ttf);
}
.main {
  max-width: 1296px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 24px;
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left__main {
  background-image: url(../assets/ph1.png);
  width: 856px;
  height: 540px;
}
.left__text {
  margin-top: 320px;
  margin-left: 60px;
}
.left__main button {
  width: 154px;
  height: 44px;
  padding: 10px 20px 7px 20px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
.left__main h1 {
  color: rgb(255, 255, 255);
  font-family: "Gotham Pro";
  font-size: 40px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.right__main__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.right__main__title button {
  color: rgb(255, 255, 255);
  font-family: "Gotham Pro";
  border: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  /* align-content: center; */
  background: transparent;
}
.title__left {
  width: 208px;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(213, 98, 29, 0.1);
}
.title__right {
  width: 208px;
  height: 40px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(213, 98, 29, 0.05);
}
.right__main__img {
  width: 416px;
  height: 500px;
  border-radius: 0px 0px 5px 5px;
  background: rgba(213, 98, 29, 0.1);
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 200px 200px;
  align-content: center;
  justify-content: center;
  grid-gap: 25px;
}

@media screen and (max-width: 1220px) {
  .main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    /* gap: 20px; */
  }
  .left__main {
    width: 476px;
    height: 540px;
  }
}
@media screen and (max-width: 1020px) {
  .main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .left__main {
    width: 435px;
    height: 540px;
  }
  .left__main h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 130%;
  }
}
@media screen and (max-width: 970px) {
  .main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .left__main {
    width: 355px;
    height: 540px;
  }
  .left__text {
    margin-top: 320px;
    margin-left: 30px;
  }
  .left__main button {
    width: 124px;
    font-size: 14px;
    font-weight: 600;
  }
  .left__main h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 130%;
  }
  .right__main__img {
    width: 355px;
    background: rgba(213, 98, 29, 0.1);
    grid-gap: 10px;
  }
  .title__left {
    width: 178px;
  }
  .title__right {
    width: 177px;
    height: 40px;
  }
}
@media screen and (max-width: 840px) {
  .main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .left__main {
    width: 100%;
    height: 340px;
  }

  .left__text {
    margin-top: 100px;
    margin-left: 30px;
  }
  .right__main__img {
    width: 100%;
    height: 270px;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    align-content: center;
    justify-content: center;
    grid-gap: 5px;
  }
  .right__main__img img{
    margin-top: 90px;
  }
  .right__main {
    margin-top: 30px;
  }
  .title__left {
    width: 50%;
  }
  .title__right {
    width: 50%;
  }
}
@media screen and (max-width: 760px) {
  .main {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .left__main {
    width: 100%;
    height: 340px;
  }
  .right__main__img {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 160px 160px;
    grid-template-rows: 200px 200px;
    align-content: center;
    justify-content: center;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
  }
  .right__main__img img{
    margin-top: 0px;
  }
  .right__main {
    margin-top: 30px;
  }
}
@media screen and (max-width: 550px) {
  .right__main__img {
    width: 100%;
    height: 500px;
    align-content: center;
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: auto;
  }
}