.header {
  max-width: 1296px;
  margin: 0 auto;
  margin-top: 20px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 0 30px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.header__btn {
  width: Fixed (188px) px;
  height: Fixed (51px) px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid rgba(213, 98, 29, 1);
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 1220px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1020px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  nav {
    gap: 0 10px;
  }
}
@media screen and (max-width: 970px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  nav {
    gap: 0 5px;
  }
}
@media screen and (max-width: 840px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  nav {
    gap: 0 5px;
    font-size: 12px;
    font-weight: 400;
  }
  .header__img {
    width: 100px;
    object-fit: cover;
  }
  .header__btn {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 760px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  nav {
    font-size: 8px;
  }
  .header__img {
    width: 80px;
    object-fit: cover;
  }
  .header__btn {
    padding: 7px 15px;
    font-size: 9px;
  }
}