.header {
  max-width: 1296px;
  margin: 0 auto;
  margin-top: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 0 30px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.header__btn {
  width: Fixed (188px) px;
  height: Fixed (51px) px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid rgba(213, 98, 29, 1);
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
