@font-face {
  font-family: "Stolzl";
  src: url(../assets/Stolzl/stolzl_light.otf);
}
.header {
  max-width: 1296px;
  margin: 0 auto;
  margin-top: 20px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__dropdown {
  /* width: 30px;
  height: 30px; */
  display: none;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
  list-style: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Stolzl";
}
ul a {
  color: #fff;
  text-decoration: none;
}
ul li {
  cursor: pointer;
}
.header__btn {
  width: Fixed (188px) px;
  height: Fixed (51px) px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid rgba(213, 98, 29, 1);
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  align-items: flex-end;
}
@media screen and (max-width: 1220px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
  }
  ul {
    gap: 0 15px;
  }
}
@media screen and (max-width: 1020px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  ul {
    font-size: 12px;
  }
  .header__btn {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 970px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  ul {
    gap: 0 10px;
    font-size: 11px;
  }
  .header__img {
    width: 140px;
    object-fit: cover;
  }
}
@media screen and (max-width: 840px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .header__img {
    width: 130px;
    object-fit: cover;
  }
  ul {
    font-size: 9px;
  }
  .header__btn {
    padding: 7px 15px;
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 760px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .nav__dropdown {
    display: block;
    width: 25px;
    border-radius: 30px;
    rotate: -90deg;
    transition: 0.5s;
    background-color: #fff;
  }
  .nav__menu {
    display: none;
    justify-content: center;
    gap: 13px;
    height: 50px;
    width: 81.2%;
    position: absolute;
    top: 55px;
    background: rgb(33, 14, 9);
    margin: auto;
  }
  .nav__menu li {
    font-size: 12px;
  }
  .nav-menu-visible {
    display: flex;
  }
  .nav__dropdown.open {
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 550px) {
  .header {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .nav__dropdown {
    display: block;
    width: 25px;
    border-radius: 50px;
    rotate: -90deg;
    transition: 0.5s;
    background-color: #fff;
  }
  .nav__menu {
    display: none;
    justify-content: center;
    height: 50px;
    width: 80%;
    position: absolute;
    top: 55px;
    background: rgb(33, 14, 9);
    margin: auto;
  }
  .nav__menu li {
    font-size: 10px;
  }
  .nav-menu-visible {
    display: flex;
    margin: 0 auto;
  }
  .nav__dropdown.open {
    transform: rotate(90deg);
  }
}
